<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hell. vue.js</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <!-- <div id="simple1">
       <div> 좋아하는 과일을 모두 골라주세요</div>
       <input type="checkbox" value="1" v-model="fruits">사과,
       <input type="checkbox" value="2" v-model="fruits">키워,
       <input type="checkbox" value="3" v-model="fruits">포도,
       <input type="checkbox" value="4" v-model="fruits">수박,
       <input type="checkbox" value="5" v-model="fruits">참외
    </div>
    <hr/>
    <div id="simple2">
        선택한 과일들: <span v-html="fruits"></span>
    </div>
    <hr/>
    <div id="simple3">  
        이름: <input type="text" v-model.lazy="name"/>
        <p>{{name}}</p>
    </div> -->
    <hr/>
    <div id="account">
        예금액 : <input type="text" v-model="balance"/>원
        <img v-if="balance < 0" src="image/error.png" alt="error"
            title="마이너스는 허용하지 않습니다. "
            style="width:15px; height: 15px; vertical-align: middle;"
        >
        <br/>
        회원님의 등급 :
        <span v-if="balance >= 1000000" >Gold</span>
        <span v-else-if="balance >= 500000" >Silver</span>
        <span v-else-if="balance >= 200000" >Bronze</span>
        <span v-else>Basic</span>

    </div>
    

    <script type="text/javascript">
        var model = {
            fruits: [],
            name: ''
        };

        var account = new Vue({
            el : '#account',
            data : {
                balance : 0
            }
        })

        var simple1  = new Vue({
            el : '#simple1',
            data : model
        })
        var simple2  = new Vue({
            el : '#simple2',
            data : model
        })
        var simple3  = new Vue({
            el : '#simple3',
            data : model
        })

        
</script>
</body>
</html>