<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>02-08</title>
    <style>
        #list { width: 400px; border:1px solid black; border-collapse:collapse;}
        #list td, #list th {border:1px solid black; text-align:center; }
        #list >thead > tr {color: yellow; background-color: purple;}
    </style>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="exmaple">
        <h2>배열를 이용한 반복문</h2>
        <table id="list">
            <thead>
                <tr>
                    <th>번호</th><th>이름</th><th>전화번호</th><th>주소</th>
                </tr>
            </thead>
            <tbody id="contacts">
                <tr v-for="(contact, index) in contacts"
                v-if="contact.addrass.indexOf('서울') > -1">
                    <td>{{index+1}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.tel}}</td>
                    <td>{{contact.addrass}}</td>
                </tr>
            </tbody>
        </table>
    </div>    
    <script type="text/javascript">
    var model = {
        "pageno":1,
        "pagesize": 10,
        "totelcount" : 100,
        "contacts" : [
            {"no":100, "name":"빠","tel":"010-1234-1324", "addrass": "서울"},
            {"no":99, "name":"삐","tel":"010-1234-1325", "addrass": "서울"},
            {"no":98, "name":"뿌","tel":"010-1234-1326", "addrass": "경기"},
            {"no":97, "name":"빼","tel":"010-1234-1327", "addrass": "제주"},
            {"no":96, "name":"뽀","tel":"010-1234-1328", "addrass": "제주"},
            {"no":95, "name":"보라","tel":"010-1234-1329", "addrass": "강원"},
            {"no":94, "name":"뚜비","tel":"010-1234-1330", "addrass": "서울"},
            {"no":93, "name":"나나","tel":"010-1234-1331", "addrass": "제주"},
            {"no":92, "name":"호호","tel":"010-1234-1332", "addrass": "제주"},
            {"no":91, "name":"하하","tel":"010-1234-1333", "addrass": "제주"}
        ]
    }

    var list = new Vue({
        el: "#exmaple",
        data : model
    });
    </script>


</body>
</html>